*{
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    -webkit-tap-highlight-color: transparent;
}

:root{
    --negro:#111;
    --negroTransparencia:#111111EE;
    --negro2:#333;
    --negro3:#555;
    --blanco:#EEE;
    --blanco2:#DDD;
    --blanco3:#BBB;

    --amarillo:#F4BD19;
    --morado:#B76BBE;
    --azul:#428EBE;
    --verde:#5CDA5D;
    --naranja:#FA7627;
    --rojo:#dc0e0e;

    --tiempoEsperaClickParaAvanzar:5s;
}
*:not(input){
    user-select: none;
}
#root{
    display: flex;
    justify-content: center;
}
html{
    font-family: 'Press Start 2P', cursive;
}

body{
    background-color: var(--negro);
    color: var(--blanco2);
    font-family: 'Press Start 2P', cursive;
}
h1{font-size: 2.5em; margin-top: 0.5em;}
p{font-size: 0.65em;}
a:hover{cursor:pointer;}
input[type="text"]{
    padding: 0.33em;
    border: none;
    border-radius: 7px;
    background-color: var(--negro);
    color: var(--blanco);
    border: 2px solid var(--negro2);
}
::placeholder, ::-moz-placeholder, ::-webkit-input-placeholder{
    font-size: 0.8em;
}
.contenedor-jugador-home{
    display: flex;
    flex-flow: column nowrap;
}
.columna-flex-1{
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    gap: 0.5em;
    margin-top: 2em;
    width: 100%;
}

                    /*PAGINA HOME*/
#home-container{
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 0.5em;
    width: 90%;
    justify-content: center;
    padding-bottom: 4em;
}
.titulo-jugador-home{
    font-size: 1.15em;
    text-align: left;
    width: 100%;
    white-space: nowrap;
    letter-spacing: -2px;
}

    /**/
    #pokemon-picker-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 1em;
    }
#pokemon-picker-container p{
    font-size: 2em;
    margin-right: 3em;
}
#pokemon-picker-container img{
    position: relative;
    width: 70px;
    aspect-ratio: 1;
    filter: grayscale(100);
}
@keyframes parpadear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes salta {
    0%{
        transition: transform 0.5s ease-in-out;
        transform: translate(0px, -10px);
    }
    100%{
        transition: transform 0.5s ease-in-out;
        transform: translate(0px, 0px);
    }
}
@keyframes apareceDesdeIzq {
    0%{
        transition: transform 0.5s ease-in-out;
        transform: translate(-400px, 0px);
    }
    100%{
        transition: transform 0.5s ease-in-out;
        transform: translate(0px, 0px);
    }
}
@keyframes apareceDesdeDcha {
    0%{
        transition: transform 0.5s ease-in-out;
        transform: translate(400px, 0px);
    }
    100%{
        transition: transform 0.5s ease-in-out;
        transform: translate(0px, 0px);
    }
}
.imagen-y-flecha{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 0.5em;
}

.imagen-y-flecha label{
    position: relative;
}

/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  .salta{
    animation: salta 1s linear infinte;
    animation-name: salta;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  [type=radio]:checked + img {
    transition: transform 0.5s ease-in-out;
    animation: salta 1s linear infinte;
    animation-name: salta;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    filter: none!important;
  }
  [type=radio]:checked + img + span::after{
    content: '▲';
    position: absolute;
    bottom: -20px;
    left: 45%;
    animation-name: parpadear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.boton-jugar:hover{
    cursor: pointer;
}
.boton-jugar{
    padding: 0.5em 1em;
    font-size: 1.25em;
    border: none;
    border-radius: 10px;
    white-space: nowrap;
}
.link-boton-jugar{
    margin: 2em 0em;
}
.linea{
    display: flex;
    flex-flow: row nowrap;
    gap: 2em;
}

    /**/

.combate-container{
    margin-top: 5em;
    height: 75vh;
    width: 100%;
    display: grid;
    grid-template-rows: 1.75fr 1fr 1.25fr;
    overflow: hidden;
    justify-items: center;
}
.tatami{
    width: 99%;
    background-image: url('https://cdna.artstation.com/p/assets/images/images/043/365/940/large/breedermaniac-ce5870cf2c824a9e8c79983fcf51-hires.jpg?1637250078');
    background-size: cover;
    background-color: var(--negro2);
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.flecha-atras{
    position: absolute;
    top: 1em;
    left: 1.5em;
    color: var(--white);
    text-decoration: none;
    transform: scale(2,3);
}
.boton-info{
    position: absolute;
    top: 3em;
    right: 1.5em;
    color: var(--white);
    text-decoration: none;
    transform: scale(2,3);
}
.tarjeta-combate{
    opacity: 0.7;
    position: relative;
    padding: 0.7em;
    color: var(--negro);
    font-weight: 500;
    border-radius: 10px;
    background-color: var(--blanco3);
    min-width: 15em;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
    font-size: 0.85em;
    border: 2px solid var(--negro);
    box-shadow: 0px 0px 10px 2px var(--negro);
    
}
.--tarjeta-combate-top{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.tarjeta-combate:first-child{
    margin: 1em;
    margin-left: auto;
    animation-name: apareceDesdeDcha;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
}
.tarjeta-combate:nth-child(2){
    margin: 1em;
    margin-right: auto;
    animation-name: apareceDesdeIzq;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
}
.tarjeta-combate:first-child img{
    bottom: -3.5em;
    left: 65%;
}
.tarjeta-combate:nth-child(2) img{
    top: -3.5em;
}
.tarjeta-combate img{
    position: absolute;
    width: 4em;
    aspect-ratio: 1;
        z-index: 5;
}
.barra-vida{
    padding: 0.2em;
    background-color: var(--blanco);
    position: relative;
}
.--barra-vida-vida{
    background-color: green;
    z-index: 5;
    width: 100%;
    padding-top: 0.3em;
    transition: all linear 1s;
}
.tarjeta-ataques{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.tarjeta-ataque-objeto{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.tarjeta-ataques div, .tarjeta-ataque-objeto div{
    border: 1px solid var(--negro2);
    padding: 0.5em 1em;
    margin: 0.15em;
    background-color: var(--negro3);
    color: var(--blanco);
    border-radius: 6px;
    min-width: 10em;
    min-height: 3.3em;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
.tarjeta-ataques img, .tarjeta-ataque-objeto img{
    width: 1.75em;
}
.oculta-primer-caracter::first-letter{
    color: rgba(0,0,0,0);
}
.tarjeta-ataques div:active, .tarjeta-ataque-objeto div:active{
    transform: scale(1.2);
}   
.tarjeta-usuario{
    background-color: var(--blanco3);
    padding: 0.5em;
    color: var(--negro);
    position: relative;
    min-height: 10em;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: center;
    border: 6px solid var(--azul);
    border-radius: 10px;
    min-width: 300px;
    width: 100%;
}
.boton-volver-tarjeta{
    position: absolute;
    top: 1em;
    right: 1em;
    width: min-content;
}
@keyframes muere {

    100%{
        transform: translate(0px, 90px);
        opacity: 0;
        display: none;
    }
}
.muere{
    animation-name: muere;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.typying {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .05em; /* Adjust as needed */
    animation: 
      escribiendo 1.2s steps(40, end),
      cursor_parpadea .75s step-end 1.2s;
  }
  
  /* The escribiendo effect */
  @keyframes escribiendo {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes cursor_parpadea {
    from, to { border-color: transparent }
    50% { border-color: var(--azul); }
  }
  .delay-fade-in{
    opacity: 0;
    animation: fade-in 0.5s ease-in var(--tiempoEsperaClickParaAvanzar) forwards;
    animation: parpadear 2s ease-in-out var(--tiempoEsperaClickParaAvanzar) infinite;
  }
  .fade-in{
    opacity: 0;
    animation: fade-in 0.5s ease-in 0s forwards;
  }

  @keyframes fade-in {
    to {
        opacity: 1;
    }
}
.pantalla-narrador p:first-child{
    font-size: 0.8em;
    width: fit-content;
    height: fit-content;
    text-align: center;
}

.fondo-naranja{
    background-color: var(--naranja);
    transition: all linear 1s;
}
.fondo-rojo{
    background-color: var(--rojo);
    transition: all linear 1s;
}
.texto-color-amarillo{
    color: var(--amarillo);
}
.texto-color-rojo{
    color: var(--rojo);
}
.texto-color-naranja{
    color: var(--naranja);
}
.texto-color-azul{
    color: var(--azul);
}
.texto-color-verde{
    color: var(--verde);
}
.texto-color-morado{
    color: var(--morado);
}
.color-borde-amarillo{
    border: 6px solid var(--amarillo);
}
.color-borde-rojo{
    border: 6px solid var(--rojo);
}
.color-borde-naranja{
    border: 6px solid var(--naranja);
}
.color-borde-azul{
    border: 6px solid var(--azul);
}
.color-borde-verde{
    border: 6px solid var(--verde);
}
.color-borde-morado{
    border: 6px solid var(--morado);
}
.cuadro-estadisticas{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.cuadro-estadisticas h2{
    text-align: center;
}
.cuadro-estadisticas .stat{
    border: 1px solid var(--blanco);
    padding: 0.5em;
    min-width: 150px;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
    width: 50%;
}

.linea-flex-empujarLados{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}
.linea-flex-hijosIguales{
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    gap: 0.25em;
    justify-items: center;
    align-items: center;
}

.pantalla-narrador{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    width: 100%;
}
.barra-porcentaje{
    padding-top: 0.6em;
    background-color: var(--blanco3);
    width: 100%;
    position: relative;
    border-radius: 5px;
}
.barra-porcentaje div{
    position: absolute;
    z-index: 19;
    padding-top: 0.5em;
    top: 0;
    padding: 0.3em;
    border-radius: 5px;
}
.infoCombate-overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: var(--negroTransparencia);
    z-index: 1000;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.infoCombate-overlay .btn-cerrar{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    padding: 0.5em;
    background-color: var(--rojo);
    color: var(--blanco);
    font-weight: bolder;
}