* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --negro: #111;
    --negroTransparencia: #111111EE;
    --negro2: #333;
    --negro3: #555;
    --blanco: #EEE;
    --blanco2: #DDD;
    --blanco3: #BBB;

    --amarillo: #F4BD19;
    --morado: #B76BBE;
    --azul: #42b8be;
    --azuloscuro: #4965c7;
    --verde: #5CDA5D;
    --naranja: #FA7627;
    --rojo: #dc0e0e;

    --tiempoEsperaClickParaAvanzar: 5s;
}

*:not(input) {
    user-select: none;
}

#root {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    overflow: hidden;
}

html {
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: var(--negro);
    color: var(--blanco2);
    font-family: 'Press Start 2P', cursive;
}

h1 {
    font-size: 2.5em;
    margin-top: 0.5em;
}

.logo-home {
    filter: drop-shadow(0px 0px 55px white);
}

p {
    font-size: 0.65em;
}

a:hover {
    cursor: pointer;
}
button{
    padding: 1em 2em;
}
input[type="text"] {
    padding: 0.33em;
    border: none;
    border-radius: 7px;
    background-color: var(--negro);
    color: var(--blanco);
    border: 2px solid var(--negro2);
    width: 100%;
    margin: 1em 0;
}

::placeholder,
::-moz-placeholder,
::-webkit-input-placeholder {
    font-size: 0.8em;
}

.contenedor-jugador-home {
    display: flex;
    flex-flow: column nowrap;
}

.columna-flex-1 {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    width: 100%;
}

/*PAGINA HOME*/
.page-container {
    width: 90vw;
}

.home-container {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.home-container form{
    display: flex;
    gap: 0.5em;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.home-container h2 {
    font-size: 1.33em;
    letter-spacing: -2px;
    color: var(--negro);
    padding: 0.15em;
}

.home-container h3 {
    font-size: 1.15em;
    letter-spacing: -2px;
    padding: 0.15em;
}

.home-container .titulo-y-descripcion {
    padding-bottom: 1em;
    text-align: center;
    margin-bottom: 1em;
}

.home-container .titulo-y-descripcion h1 {
    margin-bottom: 0.25em;
}

.combate-container {
    margin-top: 5em;
    display: grid;
    grid-template-rows: 1.75fr 1fr 1.25fr;
    justify-items: center;
}

.titulo-jugador-home {
    font-size: 1.15em;
    text-align: left;
    width: 100%;
    white-space: nowrap;
    letter-spacing: -2px;
}

/**/
#pokemon-picker-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
    height: 7em;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

#pokemon-picker-container p {
    font-size: 2em;
    margin-right: 3em;
}

#pokemon-picker-container img {
    position: relative;
    width: 70px;
    aspect-ratio: 1;
    filter: grayscale(100);
}

.descripcion-ataques,
.descripcion-ataques-cabeceras{
    display: grid;
    grid-template-columns: 1.5fr 1fr 0.5fr 0.5fr;
    align-items: center;
    gap: 0.25em;
}

.descripcion-ataques-cabeceras p{
    background-color: var(--negro2);
    padding: 0.25em;
    font-weight: bold;
}

.descripcion-ataques p{
    font-size: 0.5em;
}

@keyframes parpadear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes salta {
    0% {
        transition: transform 0.5s ease-in-out;
        transform: translate(0px, -10px);
    }

    100% {
        transition: transform 0.5s ease-in-out;
        transform: translate(0px, 0px);
    }
}

@keyframes apareceDesdeIzq {
    0% {
        transition: transform 0.5s ease-in-out;
        transform: translate(-400px, 0px);
    }

    100% {
        transition: transform 0.5s ease-in-out;
        transform: translate(0px, 0px);
    }
}

@keyframes apareceDesdeDcha {
    0% {
        transition: transform 0.5s ease-in-out;
        transform: translate(400px, 0px);
    }

    100% {
        transition: transform 0.5s ease-in-out;
        transform: translate(0px, 0px);
    }
}

.imagen-y-flecha {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 0.5em;
}

.imagen-y-flecha label {
    position: relative;
}

/* HIDE RADIO */
.hidden-radio {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
.hidden-radio+img {
    cursor: pointer;
}

/* CHECKED STYLES */
.animacion-parpadeo {
  
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  @-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
     100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }

.salta {
    animation: jump 1s linear infinte;
    animation-name: jump;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes jump {
    0% { transform: translate(-0%, -0%) scale(1.05, 0.95); }
    50% { transform: translate(-0%, -30%) scale(1, 1); }
    100% { transform: translate(-0%, -0%) scale(1.05, 0.95); }
}

.hidden-radio:checked+img {
    transition: transform 0.5s ease-in-out;
    animation-name: jump;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    filter: none !important;
}

.hidden-radio:checked+img+span::after {
    content: '▲';
    position: absolute;
    bottom: -20px;
    left: 45%;
    animation-name: parpadear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.boton-jugar:hover {
    cursor: pointer;
}

.boton-jugar {
    padding: 0.5em 3em;
    font-size: 1.15em;
    letter-spacing: -1px;
    border: none;
    border-radius: 10px;
    white-space: nowrap;
}

.boton-jugar:disabled {
    background-color: var(--negro3) !important;
    color: var(--negro) !important;
}

.boton-jugar:disabled:hover {
    cursor: not-allowed;
}

.link-boton-jugar {
    margin: 2em 0em;
}

.link-boton-home {
    position: absolute;
    top: 1em;
    left: 1em;
}

.linea {
    display: flex;
    flex-flow: row nowrap;
    gap: 2em;
}

/**/

.tatami {
    width: 99%;
    background-image: url('https://cdna.artstation.com/p/assets/images/images/043/365/940/large/breedermaniac-ce5870cf2c824a9e8c79983fcf51-hires.jpg?1637250078');
    background-size: cover;
    background-color: var(--negro2);
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.flecha-atras {
    position: absolute;
    top: 1em;
    left: 1.5em;
    color: var(--white);
    text-decoration: none;
    transform: scale(2, 3);
}

.boton-info {
    position: absolute;
    top: 3em;
    right: 1.5em;
    color: var(--white);
    text-decoration: none;
    transform: scale(2, 3);
}

.tarjeta-combate {
    position: relative;
    padding: 0.7em;
    color: var(--negro);
    font-weight: 500;
    border-radius: 10px;
    background-color: var(--blanco3);
    min-width: 15em;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
    font-size: 0.85em;
    border: 2px solid var(--negro);
    box-shadow: 0px 0px 10px 2px var(--negro);

}

.imagen-amuleto {
    width: 25px !important;
}

.tarjeta-combate:first-child img {
    bottom: -3.5em;
    left: 65%;
}

.tarjeta-combate:nth-child(2) img {
    top: -3.5em;
}

.tarjeta-combate:first-child img.imagen-amuleto {
    bottom: -1.25em;
    left: 55%;
}

.tarjeta-combate:nth-child(2) img.imagen-amuleto {
    top: -1.5em;
    left: 4em;
}

.tarjeta-combate img {
    position: absolute;
    width: 4.5em;
    aspect-ratio: 1;
    z-index: 5;
}

.--tarjeta-combate-top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.tarjeta-combate:first-child {
    margin: 1em;
    margin-left: auto;
    animation-name: apareceDesdeDcha;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
}

.tarjeta-combate:nth-child(2) {
    margin: 1em;
    margin-right: auto;
    animation-name: apareceDesdeIzq;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
}

.barra-vida {
    padding: 0.2em;
    background-color: var(--blanco);
    position: relative;
}

.--barra-vida-vida {
    background-color: green;
    z-index: 5;
    width: 100%;
    padding-top: 0.3em;
    transition: all linear 1s;
}

.tarjeta-ataques,
.tarjeta-objetos-combate {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.tarjeta-ataques p{
    border: 2px solid var(--negro3);
    background-color: var(--negro);
    padding: 2em;
    cursor: pointer;
    margin: 0.25em;
    text-align: center;
}

.tarjeta-ataque-objeto {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tarjeta-ataques div,
.tarjeta-ataque-objeto div,
.tarjeta-objetos-combate div {
    border: 2px solid var(--negro);
    padding: 0.25em 0.5em;
    margin: 0.15em;
    background-color: var(--negro3);
    color: var(--blanco);
    border-radius: 6px;
    min-width: 10em;
    min-height: 4em;
    max-height: 3em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    font-size: 0.85em;
    gap: 0.5em;
}

.tarjeta-ataques img,
.tarjeta-ataque-objeto img,
.tarjeta-objetos-combate img {
    width: 1.75em;
}

.oculta-primer-caracter::first-letter {
    color: rgba(0, 0, 0, 0);
}

.tarjeta-ataques div:active,
.tarjeta-ataque-objeto div:active {
    transform: scale(1.2);
}

.tarjeta-usuario {
    background-color: var(--negro2);
    padding: 0.5em;
    color: var(--blanco2);
    position: relative;
    min-height: 10em;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: center;
    border: 5px solid var(--azul);
    border-radius: 10px;
    min-width: 300px;
    width: 95%;
    margin: 1em;
}

.boton-volver-tarjeta {
    position: absolute;
    top: 1em;
    right: 1em;
    width: min-content;
}

@keyframes muere {

    100% {
        transform: translate(0px, 90px);
        opacity: 0;
        display: none;
    }
}

.muere {
    animation-name: muere;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.typying {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    white-space: nowrap;
    /* Keeps the content on a single line */
    letter-spacing: .05em;
    /* Adjust as needed */
    animation:
        escribiendo 1.2s steps(40, end),
        cursor_parpadea .75s step-end 1.2s;
}

/* The escribiendo effect */
@keyframes escribiendo {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes cursor_parpadea {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: var(--azul);
    }
}

.delay-fade-in {
    opacity: 0;
    animation: fade-in 0.5s ease-in var(--tiempoEsperaClickParaAvanzar) forwards;
    animation: parpadear 2s ease-in-out var(--tiempoEsperaClickParaAvanzar) infinite;
}

.fade-in {
    opacity: 0;
    animation: fade-in 0.5s ease-in 0s forwards;
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

.pantalla-narrador p:first-child {
    font-size: 0.8em;
    width: fit-content;
    height: fit-content;
    text-align: center;
}

.fondo-blanco {
    background-color: var(--blanco) !important;
}

.fondo-naranja {
    background-color: var(--naranja) !important;
}

.fondo-rojo {
    background-color: var(--rojo) !important;
}

.fondo-amarillo {
    background-color: var(--amarillo) !important;
}

.fondo-azul {
    background-color: var(--azul) !important;
}

.fondo-azuloscuro {
    background-color: var(--azuloscuro) !important;
}

.fondo-morado {
    background-color: var(--morado) !important;
}

.texto-color-amarillo {
    color: var(--amarillo) !important;
}

.texto-color-rojo {
    color: var(--rojo) !important;
}

.texto-color-naranja {
    color: var(--naranja) !important;
}

.texto-color-azul {
    color: var(--azul) !important;
}

.texto-color-azuloscuro {
    color: var(--azuloscuro) !important;
}

.texto-color-verde {
    color: var(--verde) !important;
}

.texto-color-morado {
    color: var(--morado) !important;
}

.borde-amarillo {
    border-color: var(--amarillo) !important;
}

.borde-rojo {
    border-color: var(--rojo) !important;
}

.borde-naranja {
    border-color: var(--naranja) !important;
}

.borde-azul {
    border-color: var(--azul) !important;
}
.borde-azuloscuro {
    border-color: var(--azuloscuro) !important;
}

.borde-verde {
    border-color: var(--verde) !important;
}

.borde-morado {
    border-color: var(--morado) !important;
}

.cuadro-estadisticas-doble {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cuadro-estadisticas h2 {
    text-align: center;
}

.cuadro-estadisticas-doble .stat {
    border: 1px solid var(--blanco);
    padding: 0.5em;
    min-width: 150px;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
    width: 50%;
}

.cuadro-estadisticas .stat {
    border: 1px solid var(--blanco);
    padding: 0.5em;
    min-width: 150px;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
    margin: 1em;
}

.linea-flex-empujarLados {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.linea-flex-hijosIguales {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    gap: 0.25em;
    justify-items: center;
    align-items: center;
}

.pantalla-narrador {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    width: 100%;
}

.barra-porcentaje {
    padding-top: 0.6em;
    background-color: var(--blanco3);
    width: 100%;
    position: relative;
    border-radius: 5px;
}

.barra-porcentaje div {
    position: absolute;
    z-index: 19;
    padding-top: 0.5em;
    top: 0;
    padding: 0.3em;
    border-radius: 5px;
}

.infoCombate-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: var(--negroTransparencia);
    z-index: 1000;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.infoCombate-overlay .btn-cerrar {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    padding: 0.5em;
    background-color: var(--rojo);
    color: var(--blanco);
    font-weight: bolder;
}

.object-picker {}

.object-picker .titulos-categorias {
    font-weight: bolder;
    border-bottom: 1px solid var(--blanco);
    min-height: 2em;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.boton-terminar-eleccion {}

.object-picker .listaObjetos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
    margin: 1em 0;
}

.object-picker .listaObjetos .foto-y-descripcion{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.object-picker .listaObjetos .cantidad-obj{
    font-size: 0.45em;
    color: var(--negro);
}

.object-picker .categoria-container {
    text-align: center;
}

.detalles-objeto {
    display: none;
    font-size: 0.5em;
}

.radio-objetos:checked~.detalles-objeto {
    display: initial;
    padding: 1em;
}

.tarjeta-objeto {
    font-size: 1.1em;
    background-color: var(--negro3);
    padding: 0.5em;
    border-radius: 4px;
    height: 5em;
    width: 100%;
    overflow: hidden;
    letter-spacing: -2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.descripcion-categorias {
    min-height: 4em;
    padding: 1em;
    text-align: center;
}

.descripcion-objeto {
    font-size: 0.45em;
    letter-spacing: 0.01cm;
    line-height: 12px;
    margin: 0.5em;
}

.preview-elegidos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preview-elegidos .caja {
    border: 1px solid var(--blanco);
    padding: 1em;
}

.preview-elegidos .caja-resalta {
    border: 3px solid var(--blanco);
    padding: 1em;
}

.home-step-box {
    padding: 0.50em;
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    margin-bottom: 1em;
}

.pantalla-final {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .page-container {
        width: 70vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .page-container {
        width: 60vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .page-container {
        width: 50vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .page-container {
        width: 50vw;
    }

}

@media only screen and (min-width: 1400px) {
    .page-container {
        width: 40vw;
    }
}

/* FIN MEDIA QUERIES */